
<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-list>


    <ion-item>
      <ion-label>Prenom</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Pseudo</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" placeholder="contact@domaine.com"></ion-input>
    </ion-item>

   <ion-item>
     <ion-label>Password</ion-label>
     <ion-input type="password"></ion-input>
   </ion-item>

   <ion-item>
     <ion-label>Discord</ion-label>
     <ion-input placeholder="Pseudo"></ion-input>
   </ion-item>
 </ion-list>
<ion-content>
  <ion-buttons class="ion-padding-vertical">
    <ion-button color="danger" [routerLink]="['/userProfil']">Annuler</ion-button>
    <ion-button color="primary">Modifier</ion-button>
  </ion-buttons>
</ion-content>

