 <ion-list>
   <ion-item>
     <ion-label>Photo de profil</ion-label>
     <ion-input value="https://picsum.photos/seed/picsum/400/200"></ion-input>
   </ion-item>

    <ion-item>
      <ion-label>Prenom</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Pseudo</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" placeholder="contact@domaine.com"></ion-input>
    </ion-item>

   <ion-item>
     <ion-label>Password</ion-label>
     <ion-input type="password"></ion-input>
   </ion-item>

   <ion-item>
     <ion-label>Discord</ion-label>
     <ion-input placeholder="Pseudo"></ion-input>
   </ion-item>
 </ion-list>
