<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-evenly">
      <ion-button [routerLink]="['/newsFeed']" routerLinkActive="active-button">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/ideaAdd']" routerLinkActive="active-button">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/userProfil']" routerLinkActive="active-button">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button id="open-modal-admin">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<app-modal-admin></app-modal-admin>
