<ion-content >
  <h1 class="ion-padding-horizontal">A vos Agendas!</h1>

  <ion-card *ngFor="let event of events; let index = index" >
    <!--img alt="Silhouette of mountains" src="https://picsum.photos/200" /-->
    <ion-item>
      <ion-label >{{event.date| date:'fullDate'}}</ion-label>
      <ion-label slot="end">Inscrit: {{event.subscribe.length}}</ion-label>
    </ion-item>
    <ion-item id="open-modal{{index}}">
      <ion-title>{{event.title}}</ion-title>
      <ion-button slot="end"
                  [color]=' !event.subscribe.includes(userCurrent!) ? "primary": "warning"'
                  (click)="onSubscribeEvent(event.subscribe)">
        {{ !event.subscribe.includes(userCurrent!) ? "Je Participe": "Je ne participe plus" }}
      </ion-button>
    </ion-item>


    <ion-card-content>
      <ion-modal #modal trigger="open-modal{{index}}">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>{{event.title}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Fermer</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-content>
              <img alt="Silhouette of mountains" src="{{event.image}}" />
              <ion-header>
                <h2 class="ion-padding">{{event.date| date:'fullDate'}}</h2>
                <h2 class="ion-padding">{{event.location}}</h2>
              </ion-header>
              <ion-content class="ion-padding">
                {{event.description}}
                <h2 class="ion-padding">Participants</h2>
                <ion-list value="participants" *ngFor="let user of event.subscribe">
                  <ion-item>
                    <ion-avatar slot="start">
                      <ion-img src="{{user.image}}"></ion-img>
                    </ion-avatar>
                    <ion-label>
                      <h3>{{user.firstname}} {{user.lastname}}</h3>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ion-content>
          </ion-content>
        </ng-template>

      </ion-modal>


    </ion-card-content>

  </ion-card>
</ion-content>
