<ion-content class="ion-padding">
  <h1>A vos Agendas :</h1>

  <ion-card *ngFor="let event of events; let index = index" id="open-modal{{index}}">
    <!--img alt="Silhouette of mountains" src="https://picsum.photos/200" /-->
    <ion-card-header>
      <ion-card-title>{{event.title}}</ion-card-title>
      <ion-card-subtitle>{{event.date| date:'fullDate'}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
       <ion-modal #modal trigger="open-modal{{index}}">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>{{event.title}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Fermer</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-card>
              <img alt="Silhouette of mountains" src="{{event.image}}"/>
              <ion-card-header>
                <ion-card-title>{{event.date| date:'fullDate'}}</ion-card-title>
                <ion-card-subtitle>{{event.location}}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                {{event.description}}
              </ion-card-content>
              <ion-segment value="détail">
                <ion-segment-button value="détail">
                  <ion-label>Détails</ion-label>
                </ion-segment-button>
                <ion-segment-button value="users">
                  <ion-label>Participants</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card-content>
    <<ion-button>Je participe!</ion-button>
  </ion-card>
  </ion-content>

