<ion-modal #modal trigger="open-modal-admin" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Administrateur</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-buttons>
        <ion-button fill="clear">
          <ion-icon slot="start" name="person-add"></ion-icon>Ajouter un utilisateur
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="start" name="person-add"></ion-icon>Ajouter un evenement
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="start"></ion-icon>Ajouter une formation
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="start"></ion-icon>Liste des formations
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="start"></ion-icon>Liste des utilisateurs
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="start"></ion-icon>Liste des idées
        </ion-button>
      </ion-buttons>
    </ion-content>
  </ng-template>
</ion-modal>
