<ion-modal #modal trigger="open-modal-admin" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Administrateur</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
          <ion-item>
            <ion-button fill="clear">Ajouter un evenement</ion-button>
          </ion-item>
          <ion-item>
            <ion-button fill="clear">Ajouter une formation</ion-button>
          </ion-item>
          <ion-item>
            <ion-button fill="clear">Liste des formations</ion-button>
          </ion-item>
          <ion-item>
            <ion-button fill="clear" [routerLink]="['/users']" (click)="modal.dismiss()">Liste des utilisateurs</ion-button>
          </ion-item>
          <ion-item>
            <ion-button fill="clear" [routerLink]="['/ideas']" (click)="modal.dismiss()">Liste des idées</ion-button>
          </ion-item>
        </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
