<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://picsum.photos/seed/picsum/400/300" />
    <ion-card-header>
      <ion-card-title>{{ user.lastname | uppercase}} {{user.firstname}}</ion-card-title>
      <ion-card-subtitle>{{ user.formation.name }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <ion-label>Email: {{ user.email }}</ion-label>
      <hr>
        <ion-label>Pseudo Discord: {{ user.discord }}</ion-label>
      <hr>
        <ion-label>Naissance: {{ user.birthday | date:'mediumDate' }}</ion-label>
      <hr>
      <ion-label>Lieu d'école: {{ user.school_location }}</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-buttons class="ion-padding-horizontal">
    <ion-button color="primary">Modifier</ion-button>
    <ion-button color="danger">Supprimer</ion-button>
  </ion-buttons>
</ion-content>
